.banner {
    background-color: #4D00FF;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-jacks {
    height: 200px;
    width: 200px;
}

#jackrabbits {
    color: #4D00FF;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}