* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    font-size: 22px;
}

h2 {
    margin-bottom: 10px;
    font-size: 32px;
}

/* p {
    font-size: 22px;
} */

/* Header Section*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    height: 69px;
    
}

.logo {
    margin-left: 10px;
    height:50px;
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    text-decoration: underline;
}

li {
    margin: 0 10px;
}

/* Mission Section */

.mission {
    background-image: url(../images/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    margin: 69px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mission-text {
    padding: 10px;
    opacity: 1;
}

/* Featured Tea Section */

.feat {
    margin: 50px 0;
    display: inline-block;
}

.tea-container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 2em;
}

.tea-box {
    margin-top: 20px;
}

.tea-box h4 {
    margin-top: 10px;
}

.feature-tea {
    height: 200px;
    width: 300px;
}

/* Locations Section */

.location {
    background-image: url(../images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

.location h2 {
    background: none;
    padding-top: 50px;
}

.location-container {
    margin-top: 15px;
    background: none;
    opacity: 1;
    display: flex;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px; 
}

.lt {  
    width: 300px;
    height: 250px;
    opacity: 1;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer */

.comp {
    margin-top: 20px;  
    height: 200px;
}

.spacer {
    margin: 20px;
}

.copyright-sec {
    margin: 0 0 50px 20px;
    text-align: left;
}